body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #292a33;
}

.App {
    background-color: #292a33;
    color: #fcfcfa;
    height: 100vh;
    width: 100%;
}

.AppHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* NAVBAR STYLES */
.App .navBarContainer {
    display: flex;
    justify-content: space-around;
}

.App .companyButton,
.App .cartButton {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

/* MUSIC SLIDER STYLES */

.App .sliderContainer {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.App .iframes {
    display: flex;
}

.App .right-arrow,
.App .left-arrow {
    position: absolute;
    background-color: #fcfcfa;
    color: rgba(255, 60, 0, 1);
    cursor: pointer;
    user-select: none;
    clip-path: circle(49%);
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    z-index: 1;
}

.App .right-arrow {
    right: 5%;
}

.App .left-arrow {
    left: 5%;
}

.App .slide {
    width: 75%;
    opacity: 0;
    transition-duration: 1s ease;
}

.App .slide.active {
    width: 75%;
    opacity: 1;
    transition-duration: 1s ease;
    transform: scale(1);
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex !important;
    justify-content: center;
}

.App .carousel-control-next,
.App .carousel-control-prev {
    width: 10vw;
}

.App .carousel-indicators {
    top: 100%;
}

/* FILTER STYLES */
.App .product-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1em 0;
}

/* STORE STYLES */
.App .storeContent {
    margin-top: 170px;
    height: 95%;
}

/* OVERRIDE material-ui STYLES */
.App .MuiGrid-container {
    justify-content: center;
}

.MuiCard-root {
    height: 100%;
}

.App .MuiContainer-maxWidthLg {
    max-width: unset;
    background-color: #292a33;
}

.App .makeStyles-cardDetails-15 {
    display: flex;
    justify-content: space-between;
    background-color: #292a33;
    margin-top: unset;
    width: 100%;
    padding: 5% 5%;
}

.MuiGrid-spacing-xs-4 > .MuiGrid-item {
    background-color: #292a33;
}

.App .MuiPaper-root {
    color: #292a33;
    background-color: #216c2a;
}

/* FOOTER STYLES */
.mainFooter {
    font-family: "Ewert", cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    height: 5%;
}

.mainFooter:hover {
    cursor: pointer;
}

.logoFrame {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.logoSpin {
    animation: logoSpin 2s infinite linear;
    -webkit-animation: logoSpin 2s infinite linear;
}

@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* breakpoints by material-ui ...
  sm: max 600
  md: 601-959
  lg: 960-1279
  xl: 1280 +
  @media only screen and (max-width: 600px) {}
  @media only screen and (min-width: 601px) and (max-width: 959px) {}
  @media only screen and (min-width: 960px) and (max-width: 1279px) {}
  @media only screen and (min-width: 1280px) {} 
*/

@media only screen and (max-width: 599px) {
    .App .storeContent {
        height: unset !important;
    }
}

@media only screen and (max-width: 600px) {
    .App #dtNav.sliderContainer {
        display: none;
    }

    .App #moNav.sliderContainer {
        display: flex;
        margin: 80px 0 30px 0;
        width: 100vw;
        height: 15vh;
    }

    .App .left-arrow {
        left: 2.5% !important;
    }

    .App .right-arrow {
        right: 2.5% !important;
    }

    .App .storeContent {
        margin-top: 0 !important;
    }

    .mainFooter {
        max-width: 50%;
    }
    
    .logoFrame {
        width: 25%;
    }
}

@media only screen and (min-width: 601px) {
    .App #dtNav.sliderContainer {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .App #moNav.sliderContainer {
        display: none;
    }

    .mainFooter {
        max-width: 50%;
    }
    
    .logoFrame {
        width: 25%;
    }
    
}

@media only screen and (max-width: 959px) {
    .App .storeContent {
        padding: 0 5%;
    }

    .MuiGrid-item.productContainer {
        width: 100%;
    }

    .makeStyles-cardDetails-19 {
        flex-direction: column;
        align-items: center;
    }

    .mainFooter {
        max-width: 50%;
    }
    
    .logoFrame {
        width: 25%;
    }
}

@media only screen and (min-width: 960px) {
    
    .App .companyButton,
    .App .cartButton {
        width: 20%;
    }

    .App .sliderContainer {
        width: 80%;
    }

    .MuiGrid-item.productContainer {
        width: 20%;
    }

    .App .storeContent {
        padding: 0 50px;
    }

    .mainFooter {
        max-width: 25%;
    }
    
    .logoFrame {
        width: 40%;
    }
}