body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.block {
  display: block;
}

.App {
  background-color: #292a33;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #fcfcfa;
}

.AppHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex !important;
  justify-content: center;
}

.App .carousel-control-next,
.App .carousel-control-prev {
  width: 10vw;
}

.App .carousel-indicators {
  top: 100%;
}

.App .MuiGrid-container {
  justify-content: space-around;
}

.MuiGrid-item.productContainer {
  width: 20%;
}

.MuiCard-root {
  height: 100%;
}
